In [1]:
from dotenv import load_dotenv
load_dotenv()
import os
user = os.getenv('USER')
password = os.getenv('PASSWORD')
db_endpoint = 'localhost'
db = 'pagila'
db_port = 5432

In [2]:
%load_ext sql

In [3]:
conn_string = "postgresql://{}:{}@{}:{}/{}"\
                    .format(user, password, db_endpoint, db_port, db)

In [4]:
%sql $conn_string

<img src="images/pagila.png">

# 01 - What Data Sizes are we looking at

In [5]:
nStores = %sql SELECT COUNT(*) FROM store;
nFilms = %sql SELECT COUNT(*) FROM film;
nCustomers = %sql SELECT COUNT(*) FROM customer;
nRentals = %sql SELECT COUNT(*) FROM rental;
nPayment = %sql SELECT COUNT(*) FROM payment;
nCity = %sql SELECT COUNT(*) FROM city;
nCountry = %sql SELECT COUNT(*) FROM country;

 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.

# 02- What Time Period are we talking about

In [6]:
%%sql
SELECT MIN(payment_date) AS start_date, MAX(payment_date) AS end_date
FROM payment;

 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.

[(datetime.datetime(2020, 1, 25, 0, 21, 56, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), datetime.datetime(2020, 5, 14, 15, 44, 29, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)))]

# 03-Where Do events in this database occur

In [7]:
%%sql
SELECT district, SUM(city_id) AS n
FROM address
GROUP BY district
ORDER BY n DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/pagila
10 rows affected.

[('Shandong', 3237),
 ('England', 2974),
 ('So Paulo', 2952),
 ('West Bengali', 2623),
 ('Buenos Aires', 2572),
 ('Uttar Pradesh', 2462),
 ('California', 2444),
 ('Southern Tagalog', 1931),
 ('Tamil Nadu', 1807),
 ('Hubei', 1790)]

# 04-Top Grossing Movies

In [8]:
%%sql
SELECT *
FROM film
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/pagila
5 rows affected.

[(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, None, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', datetime.datetime(2020, 9, 10, 19, 46, 3, 905795, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), ['Deleted Scenes', 'Behind the Scenes'], "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17"),
 (2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 2006, 1, None, 3, Decimal('4.99'), 48, Decimal('12.99'), 'G', datetime.datetime(2020, 9, 10, 19, 46, 3, 905795, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), ['Trailers', 'Deleted Scenes'], "'ace':1 'administr':9 'ancient':19 'astound':4 'car':17 'china':20 'databas':8 'epistl':5 'explor':12 'find':15 'goldfing':2 'must':14"),
 (3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 2006, 1, None, 7, Decimal('2.99'), 50, Decimal('18.99'), 'NC-17', datetime.datetime(2020, 9, 10, 19, 46, 3, 905795, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), ['Trailers', 'Deleted Scenes'], "'adapt':1 'astound':4 'baloon':19 'car':11 'factori':20 'hole':2 'lumberjack':8,16 'must':13 'reflect':5 'sink':14"),
 (4, 'AFFAIR PREJUDICE', 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank', 2006, 1, None, 5, Decimal('2.99'), 117, Decimal('26.99'), 'G', datetime.datetime(2020, 9, 10, 19, 46, 3, 905795, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), ['Commentaries', 'Behind the Scenes'], "'affair':1 'chase':14 'documentari':5 'fanci':4 'frisbe':8 'lumberjack':11 'monkey':16 'must':13 'prejudic':2 'shark':19 'tank':20"),
 (5, 'AFRICAN EGG', 'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico', 2006, 1, None, 6, Decimal('2.99'), 130, Decimal('22.99'), 'G', datetime.datetime(2020, 9, 10, 19, 46, 3, 905795, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), ['Deleted Scenes'], "'african':1 'chef':11 'dentist':14 'documentari':7 'egg':2 'fast':5 'fast-pac':4 'forens':19 'gulf':23 'mexico':25 'must':16 'pace':6 'pastri':10 'psychologist':20 'pursu':17")]

In [9]:
%%sql
SELECT * FROM payment LIMIT 5;

 * postgresql://postgres:***@localhost:5432/pagila
5 rows affected.

[(16050, 269, 2, 7, Decimal('1.99'), datetime.datetime(2020, 1, 25, 0, 40, 19, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None))),
 (16051, 269, 1, 98, Decimal('0.99'), datetime.datetime(2020, 1, 25, 18, 16, 50, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None))),
 (16052, 269, 2, 678, Decimal('6.99'), datetime.datetime(2020, 1, 29, 0, 44, 14, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None))),
 (16053, 269, 2, 703, Decimal('0.99'), datetime.datetime(2020, 1, 29, 3, 58, 2, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None))),
 (16054, 269, 1, 750, Decimal('4.99'), datetime.datetime(2020, 1, 29, 11, 10, 6, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)))]

In [10]:
%%sql
SELECT * FROM rental LIMIT 5;

 * postgresql://postgres:***@localhost:5432/pagila
5 rows affected.

[(2, datetime.datetime(2005, 5, 25, 0, 54, 33, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), 1525, 459, datetime.datetime(2005, 5, 28, 21, 40, 33, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), 1, datetime.datetime(2020, 2, 16, 5, 30, 53, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None))),
 (3, datetime.datetime(2005, 5, 25, 1, 3, 39, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), 1711, 408, datetime.datetime(2005, 6, 2, 0, 12, 39, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), 1, datetime.datetime(2020, 2, 16, 5, 30, 53, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None))),
 (4, datetime.datetime(2005, 5, 25, 1, 4, 41, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), 2452, 333, datetime.datetime(2005, 6, 3, 3, 43, 41, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), 2, datetime.datetime(2020, 2, 16, 5, 30, 53, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None))),
 (5, datetime.datetime(2005, 5, 25, 1, 5, 21, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), 2079, 222, datetime.datetime(2005, 6, 2, 6, 33, 21, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), 1, datetime.datetime(2020, 2, 16, 5, 30, 53, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None))),
 (6, datetime.datetime(2005, 5, 25, 1, 8, 7, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), 2792, 549, datetime.datetime(2005, 5, 27, 3, 32, 7, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), 1, datetime.datetime(2020, 2, 16, 5, 30, 53, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)))]

In [11]:
%%sql
SELECT * FROM inventory LIMIT 5;

 * postgresql://postgres:***@localhost:5432/pagila
5 rows affected.

[(1, 1, 1, datetime.datetime(2020, 2, 15, 13, 9, 17, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None))),
 (2, 1, 1, datetime.datetime(2020, 2, 15, 13, 9, 17, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None))),
 (3, 1, 1, datetime.datetime(2020, 2, 15, 13, 9, 17, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None))),
 (4, 1, 1, datetime.datetime(2020, 2, 15, 13, 9, 17, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None))),
 (5, 1, 2, datetime.datetime(2020, 2, 15, 13, 9, 17, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)))]

In [12]:
%%sql
SELECT f.title, p.amount, p.payment_date, p.customer_id
FROM payment AS p
JOIN rental AS r 
USING (rental_id)
JOIN inventory AS i
USING (inventory_id)
JOIN film AS f
USING (film_id)
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/pagila
5 rows affected.

[('SWARM GOLD', Decimal('1.99'), datetime.datetime(2020, 1, 25, 0, 40, 19, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), 269),
 ('PACKER MADIGAN', Decimal('0.99'), datetime.datetime(2020, 1, 25, 18, 16, 50, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), 269),
 ('SOMETHING DUCK', Decimal('6.99'), datetime.datetime(2020, 1, 29, 0, 44, 14, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), 269),
 ('DRACULA CRYSTAL', Decimal('0.99'), datetime.datetime(2020, 1, 29, 3, 58, 2, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), 269),
 ('CLOSER BANG', Decimal('4.99'), datetime.datetime(2020, 1, 29, 11, 10, 6, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=180, name=None)), 269)]

# 05-Sum Total Movie Revenue

In [13]:
%%sql
SELECT f.title, SUM(amount) AS revenue
FROM payment AS p
JOIN rental AS r 
USING (rental_id)
JOIN inventory AS i
USING (inventory_id)
JOIN film AS f
USING (film_id)
GROUP BY f.title
ORDER BY revenue DESC
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/pagila
5 rows affected.

[('TELEGRAPH VOYAGE', Decimal('231.73')),
 ('WIFE TURN', Decimal('223.69')),
 ('ZORRO ARK', Decimal('214.69')),
 ('GOODFELLAS SALUTE', Decimal('209.69')),
 ('SATURDAY LAMBS', Decimal('204.72'))]

# 06-Create Fact and Dimension Tables

<img src="images/star.png">

In [14]:
%%sql

CREATE TABLE IF NOT EXISTS dimDate
(
    date_key INTEGER NOT NULL PRIMARY KEY,
    date DATE NOT NULL,
    year SMALLINT NOT NULL,
    quarter SMALLINT NOT NULL,
    month SMALLINT NOT NULL,
    day SMALLINT NOT NULL,
    week SMALLINT NOT NULL,
    is_weekend BOOLEAN NOT NULL
);

CREATE TABLE IF NOT EXISTS dimCustomer
(
  customer_key SERIAL PRIMARY KEY,
  customer_id  smallint NOT NULL,
  first_name   varchar(45) NOT NULL,
  last_name    varchar(45) NOT NULL,
  email        varchar(50),
  address      varchar(50) NOT NULL,
  address2     varchar(50),
  district     varchar(20) NOT NULL,
  city         varchar(50) NOT NULL,
  country      varchar(50) NOT NULL,
  postal_code  varchar(10),
  phone        varchar(20) NOT NULL,
  active       smallint NOT NULL,
  create_date  timestamp NOT NULL,
  start_date   date NOT NULL,
  end_date     date NOT NULL
);

CREATE TABLE IF NOT EXISTS dimMovie
(
  movie_key          SERIAL PRIMARY KEY,
  film_id            smallint NOT NULL,
  title              varchar(255) NOT NULL,
  description        text,
  release_year       year,
  language           varchar(20) NOT NULL,
  original_language  varchar(20),
  rental_duration    smallint NOT NULL,
  length             smallint NOT NULL,
  rating             varchar(5) NOT NULL,
  special_features   varchar(60) NOT NULL
);
CREATE TABLE IF NOT EXISTS dimStore
(
  store_key           SERIAL PRIMARY KEY,
  store_id            smallint NOT NULL,
  address             varchar(50) NOT NULL,
  address2            varchar(50),
  district            varchar(20) NOT NULL,
  city                varchar(50) NOT NULL,
  country             varchar(50) NOT NULL,
  postal_code         varchar(10),
  manager_first_name  varchar(45) NOT NULL,
  manager_last_name   varchar(45) NOT NULL,
  start_date          date NOT NULL,
  end_date            date NOT NULL
);

 * postgresql://postgres:***@localhost:5432/pagila
Done.
Done.
Done.
Done.

[]

We then create the fact table. When creating the fact table, you use the REFERENCES constraint to identify which table and column a foreign key is connected to. This ensures that the fact tablke does not refer to items that do not appear in the respective dimension tables

In [15]:
%%sql
CREATE TABLE IF NOT EXISTS factSales
(
    sales_key SERIAL PRIMARY KEY,
    date_key INTEGER NOT NULL REFERENCES dimDate(date_key),
    customer_key INTEGER NOT NULL REFERENCES dimCustomer(customer_key),
    movie_key INTEGER NOT NULL REFERENCES dimMovie(movie_key),
    store_key INTEGER NOT NULL REFERENCES dimStore(store_key),
    sales_amount decimal(5,2) NOT NULL
);

 * postgresql://postgres:***@localhost:5432/pagila
Done.

[]

<img src="images/star.png">

In [17]:
%%sql
INSERT INTO dimDate (date_key, date, year, quarter, month, day, week, is_weekend)
SELECT DISTINCT(TO_CHAR(payment_date :: DATE, 'yyyyMMDD')::INTEGER) AS date_key,
        DATE(payment_date) AS date,
        EXTRACT(YEAR FROM payment_date) AS month,
        EXTRACT(QUARTER FROM payment_date) AS quarter  ,     
        EXTRACT(MONTH FROM payment_date) AS month,
        EXTRACT(DAY FROM payment_date) AS day,
        EXTRACT(WEEK FROM payment_date) AS week,
        CASE WHEN EXTRACT(ISODOW FROM payment_date) IN (6,7) THEN true ELSE false END AS is_weekend

FROM payment;

INSERT INTO dimCustomer (customer_key, customer_id, first_name, last_name, email, address, address2, district, city, country, postal_code, phone, active, create_date, start_date, end_date)
SELECT c.customer_id AS customer_key,
        c.customer_id,
        c.first_name,
        c.last_name,
        c.email,
        a.address, 
        a.address2,
        a.district,
        ci.city,
        co.country,
        a.postal_code,
        a.phone,
        c.active,
        c.create_date,
        now() AS start_date,
        now() AS end_date
FROM customer AS c
JOIN address AS a 
USING (address_id)
JOIN city AS ci 
USING (city_id)
JOIN country AS co 
USING (country_id);


INSERT INTO dimMovie (movie_key, film_id, title, description, release_year, language, original_language, rental_duration, length, rating, special_features)
SELECT f.film_id AS movie_key,
        f.film_id,
        f.title,
        f.description,
        f.release_year,
        l.name AS language,
        orig_lang.name AS original_language,
        f.rental_duration,
        f.length,
        f.rating,
        f.special_features

FROM film AS f
JOIN language AS l
USING (language_id)
LEFT JOIN language AS orig_lang
USING (language_id);

INSERT INTO dimStore (store_key, store_id, address, address2, district, city, country, postal_code, manager_first_name, manager_last_name, start_date, end_date)
SELECT s.store_id AS store_key,
        s.store_id,
        a.address,
        a.address2,
        a.district,
        c.city,
        co.country,
        a.postal_code,
        st.first_name AS manager_first_name,
        st.last_name AS manager_last_name,
        now() AS start_date,
        now() AS end_date

FROM store s
JOIN staff st   ON (s.manager_staff_id = st.staff_id)
JOIN address a  ON (s.address_id = a.address_id)
JOIN city c     ON (a.city_id = c.city_id)
JOIN country co ON (c.country_id = co.country_id);

INSERT INTO factSales (date_key, customer_key, movie_key, store_key, sales_amount)
SELECT TO_CHAR(p.payment_date :: DATE, 'yyyyMMDD')::integer AS date_key ,
       p.customer_id                                        AS customer_key,
       i.film_id                                            AS movie_key,
       i.store_id                                           AS store_key,
       p.amount                                             AS sales_amount
FROM payment p
JOIN rental r    ON ( p.rental_id = r.rental_id )
JOIN inventory i ON ( r.inventory_id = i.inventory_id );

 * postgresql://postgres:***@localhost:5432/pagila
42 rows affected.

[]

 * postgresql://postgres:***@localhost:5432/pagila
2 rows affected.
16049 rows affected.

[]

<img src="images/pagila.png">