# OLAP Cubes
An OLAP cube is an aggregation of a fact metric on a number of dimensions e.g moview, branch, month.
Common OLAP operations include Rollup, drill-down, slice and dice

* **Rollup** Sum up the sales of each city by country(less columns in the branch dimension)
* **Drill-Down:** Decompose the sales of each city into smaller districts(more columns in the branch dimension)
* **Slice:** Reducing N dimensions to N-1 dimensions by restricting one dimension to a single value
* **Dice:** Same dimensions but computing a sub-cube by restricting, some of the values of the dimension

## OLAP Cubes Query Optimization
Business users will typically want to slice, dice, rollup and drill-down all the time. Each such combination will potentially go through all the facts table(suboptimal)
The "**GROUP BY CUBE(movie, branch, month)**" will make one pass through the facts table and will aggregate all possible combinations of groupings e.g
* Total Revenue
* Revenue by Movie
* Revenue by Branch
* Revenue by Month
* Revenue by movie, branch
* Revenue by branch, month
* Revenue by movie, month
* Revenue by movie, branch, month

Saving the output of the CUBE  operation and using it is usually enough to answer all forthcoming aggregations from business users without having to process the whole facts table again

In [2]:
from dotenv import load_dotenv
load_dotenv()
import os
user = os.getenv('USER')
password = os.getenv('PASSWORD')
db_endpoint = 'localhost'
db = 'pagila'
db_port = 5432

In [3]:
%load_ext sql

In [4]:
conn_string = "postgresql://{}:{}@{}:{}/{}"\
                    .format(user, password, db_endpoint, db_port, db)

In [5]:
%sql $conn_string

# A simple cube
Write a query that calculates the revenue(sales_amount) by day, rating and city. sort by revenue in descending order and limit to the first 20 rows

In [19]:
%%sql
SELECT date.day, movie.rating, customer.city, SUM(sales.sales_amount) AS revenue
FROM factSales AS sales
JOIN dimDate AS date
USING (date_key)
JOIN dimMovie AS movie
USING (movie_key)
JOIN dimCustomer AS customer
USING (customer_key)
GROUP BY (date.day, movie.rating, customer.city)
ORDER BY revenue DESC
LIMIT 20;

 * postgresql://postgres:***@localhost:5432/pagila
20 rows affected.

[(30, 'G', 'San Bernardino', Decimal('24.97')),
 (30, 'R', 'Fengshan', Decimal('24.94')),
 (30, 'NC-17', 'Apeldoorn', Decimal('23.95')),
 (22, 'NC-17', 'Belm', Decimal('22.97')),
 (21, 'G', 'Citt del Vaticano', Decimal('21.97')),
 (30, 'PG-13', 'Zanzibar', Decimal('21.97')),
 (30, 'G', 'Tychy', Decimal('21.97')),
 (29, 'R', 'Springs', Decimal('20.97')),
 (30, 'R', 'Robamba', Decimal('20.96')),
 (22, 'R', 'Yangor', Decimal('19.97')),
 (27, 'NC-17', 'Funafuti', Decimal('19.97')),
 (28, 'PG-13', 'Dhaka', Decimal('19.97')),
 (17, 'G', 'Rajkot', Decimal('19.97')),
 (1, 'R', 'Qomsheh', Decimal('19.97')),
 (19, 'PG', 'Najafabad', Decimal('19.96')),
 (28, 'PG', 'So Leopoldo', Decimal('18.98')),
 (21, 'G', 'Wroclaw', Decimal('18.98')),
 (19, 'PG', 'Sokoto', Decimal('18.97')),
 (2, 'PG-13', 'Antofagasta', Decimal('18.97')),
 (19, 'PG', 'Sawhaj', Decimal('18.97'))]

## Slicing
We have a 3-dimensional cube on day, rating and country.<br>
Write a query that reduces the dimensionality of the above example by limiting results to only include movies with a rating of pg-13. Again, sort by revenue in dexcending order and limit to the first 20 rows

In [29]:
%%sql
SELECT date.day, movie.rating, customer.city, SUM(sales.sales_amount) AS revenue
FROM factSales AS sales
JOIN dimMovie AS movie
USING (movie_key)
JOIN dimDate AS date
USING (date_key)
JOIN dimCustomer AS customer
USING (customer_key)
WHERE movie.rating = 'PG-13'
GROUP BY (date.day, movie.rating, customer.city)
ORDER BY revenue DESC
LIMIT 20;

 * postgresql://postgres:***@localhost:5432/pagila
20 rows affected.

[(30, 'PG-13', 'Zanzibar', Decimal('21.97')),
 (28, 'PG-13', 'Dhaka', Decimal('19.97')),
 (2, 'PG-13', 'Antofagasta', Decimal('18.97')),
 (30, 'PG-13', 'Osmaniye', Decimal('18.97')),
 (30, 'PG-13', 'Nagareyama', Decimal('17.98')),
 (20, 'PG-13', 'Baha Blanca', Decimal('17.98')),
 (21, 'PG-13', 'Parbhani', Decimal('17.98')),
 (30, 'PG-13', 'Tanauan', Decimal('17.96')),
 (21, 'PG-13', 'Asuncin', Decimal('17.96')),
 (12, 'PG-13', 'Boa Vista', Decimal('16.98')),
 (30, 'PG-13', 'Zhoushan', Decimal('16.98')),
 (30, 'PG-13', 'Yerevan', Decimal('16.97')),
 (30, 'PG-13', 'Newcastle', Decimal('16.97')),
 (17, 'PG-13', 'Ikerre', Decimal('16.96')),
 (8, 'PG-13', 'Callao', Decimal('15.98')),
 (29, 'PG-13', 'Shimoga', Decimal('15.98')),
 (30, 'PG-13', 'Santa Rosa', Decimal('15.98')),
 (17, 'PG-13', 'Yantai', Decimal('15.98')),
 (20, 'PG-13', 'Santa Rosa', Decimal('15.98')),
 (8, 'PG-13', 'Pontianak', Decimal('15.98'))]

## Dice
Write a query to create a subscube of the initial code that moves with:
* ratings of PG or PG-13
* in the city of Bellevue or Lancaster
* day equal to 1, 15 or 30

In [32]:
%%time
%%sql
SELECT date.day, movie.rating, customer.city, SUM(sales.sales_amount) AS revenue
FROM factSales AS sales
JOIN dimDate AS date
USING (date_key)
JOIN dimMovie AS movie
USING (movie_key)
JOIN dimCustomer AS customer
USING (customer_key)
WHERE movie.rating IN ('PG-13', 'PG')
AND customer.city IN ('Bellevue', 'Lancaster')
AND date.day IN (1,15,30)
GROUP BY (date.day, movie.rating, customer.city)
ORDER BY revenue DESC
LIMIT 20;

 * postgresql://postgres:***@localhost:5432/pagila
6 rows affected.
CPU times: user 7.04 ms, sys: 0 ns, total: 7.04 ms
Wall time: 11.5 ms

[(30, 'PG', 'Lancaster', Decimal('12.98')),
 (1, 'PG-13', 'Lancaster', Decimal('5.99')),
 (30, 'PG-13', 'Bellevue', Decimal('3.99')),
 (30, 'PG-13', 'Lancaster', Decimal('2.99')),
 (15, 'PG-13', 'Bellevue', Decimal('1.98')),
 (1, 'PG', 'Bellevue', Decimal('0.99'))]

<img src="images/star.png">

## Rollup
Write a query that calculates revenue by day, rating and country. Sort the data by revenue in descending order, and limit the data to the top 20 results

In [34]:
%%sql
SELECT date.day, movie.rating, customer.country, SUM(sales.sales_amount) AS revenue
FROM factSales AS sales
JOIN dimMovie AS movie
USING (movie_key)
JOIN dimDate AS date
USING (date_key)
JOIN dimCustomer AS customer
USING (customer_key)
GROUP BY (date.day, movie.rating, customer.country)
ORDER BY revenue DESC
LIMIT 20;

 * postgresql://postgres:***@localhost:5432/pagila
20 rows affected.

[(30, 'G', 'China', Decimal('158.71')),
 (30, 'PG', 'China', Decimal('149.68')),
 (30, 'R', 'China', Decimal('145.66')),
 (30, 'NC-17', 'India', Decimal('144.66')),
 (30, 'PG', 'India', Decimal('141.69')),
 (21, 'PG-13', 'India', Decimal('138.72')),
 (30, 'R', 'India', Decimal('138.70')),
 (30, 'G', 'India', Decimal('138.67')),
 (30, 'PG-13', 'China', Decimal('133.70')),
 (18, 'NC-17', 'India', Decimal('130.76')),
 (18, 'PG', 'India', Decimal('123.76')),
 (17, 'PG-13', 'China', Decimal('119.74')),
 (21, 'R', 'India', Decimal('117.74')),
 (30, 'PG-13', 'India', Decimal('113.72')),
 (21, 'NC-17', 'China', Decimal('109.78')),
 (27, 'NC-17', 'India', Decimal('109.73')),
 (20, 'PG-13', 'India', Decimal('108.76')),
 (28, 'R', 'India', Decimal('103.79')),
 (27, 'PG-13', 'India', Decimal('102.79')),
 (17, 'R', 'India', Decimal('100.77'))]